body {
  /* http://flatcolors.net/palette/581-flat-ui-design */
  background-color: #032E46;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
}

#main-header {
  margin: 0;
  padding: 10px 20%;
}

.header-social-icon-link {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.header-social-icon-link img {
  opacity: 0.7;
}

.header-social-icon-link img:hover {
  opacity: 1;
}

.header-social-icon-link img {
  height: 24px;
  width: 24px;
}

h1 a {
  text-decoration: none;
  color: #EEE;
  opacity: 0.7;
}

h1 a:hover {
  text-decoration: none;
  opacity: 1;
}

#main-header h1 {
  font-size: 35px;
  font-weight: 300;
  color: #EEE;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#main-header p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #CCC;
}

#main-content {
  background-color: #043D5D;
  padding: 10px 20%;
  height: 100%;
}

section {
  background-color: #DDD;
  padding: 10px 20px;
  margin: 10px;
  opacity: 0.7;
}

section:hover {
  opacity: 1;
}

section h1 {
  font-family: 'Josefin Slab', serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

section p {
  margin-top: 10px;
  margin-bottom: 10px;
}
